@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
    color: #008cff;
    background-color: #303030;
    font-family: "Roboto Mono";
}

.header h2, h4 {
    text-align: left;
    padding-left: 3px;
}

.header {
    background-color: #277c18;
    padding: 3px;
    border-radius: 10px;
}

.buttons{
    margin: 3px;
    padding-right: 4px;
    display: inline-block;
    background-color: #216b14;
}

.buttons:hover {
    background-color: #1e6311;
}

.footer {
    background-color: #303030;
    min-height: 100px;
}

#jobs {
    background-color: #191919;
    padding: 10px;
    border-radius: 10px;
}

.job {
    color: #ffffff;
    background-color: #282828;
    padding: 3px;
    margin: 5px;
    border-radius: 10px;
}

.job h6 {
    text-align: center;
}

.job p {
    font-size: small;
    text-align: center;
}

.job .id {
    font-size: 7px;
}

a{   
    color:#008cff;   
    text-decoration:none;
 }
 a:active {
     color: blue;
 }

 #besede, #dodajbesede {
    background-color: #191919;
    padding: 10px;
    border-radius: 10px;
    min-height: 30px;
    text-align: center;
}

.tabelabesed{
    width: 100%;
}

.title {
    text-align: center;
    font-size: large;
}

.wordinputform {
    background-color: #282828;
    padding: 15px;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
}

.inputshit{
    margin: 3px;
    display: inline;
}

input {
    background-color: #191919;
    color: #008cff;
    border-radius: 5px;
    border-color: #008cff;
    padding: 3px;
}

select {
    background-color: #191919;
    color: #008cff;
    border-radius: 5px;
    border-color: #008cff;
    padding: 3px;
}

#add {
    background-color: #191919;
    color: #008cff;
    border-radius: 5px;
    border-color: #008cff;
    padding: 3px;
}

#charts {
    background-color: #191919;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.part {
    background-color: #191919;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.subpart {
    background-color: #282828;
    padding: 15px;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
}

.disclaimer {
    text-align: center;
    font-size: 9px;
}